.jumbotron {
    background-color: #39f;
    color: white;
}
footer {
    padding: 10px 10px 0px 10px;
    background-color: #39f;
    margin-bottom: 0px;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: black;
}

.card-course {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-register {
    width: 100%;
}